---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const domain = import.meta.env.PUBLIC_DOMAIN;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta content={title} property="og:title" />
    <meta name="description" content={description} />
    <meta content={description} property="description" />
    <meta content={description} property="og:description" />
    <meta content={`https://${domain}`} property="og:url" />
  </head>
  <body>
    <slot />

    {import.meta.env.PROD && <script defer src="/_vercel/insights/script.js" />}
  </body>
</html>

<style is:global>
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }

    :root {
      --background: black;
      --text: white;
      --squares: #333;
    }
  }

  @media (prefers-color-scheme: light) {
    html {
      color-scheme: light;
    }

    :root {
      --background: white;
      --text: black;
      --squares: #888;
    }
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  body {
    color: var(--text);
    background: var(--background);
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }
</style>
